.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.help-row {
  background-color: $dark-gray;
}

.header-help {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  max-width: 1160px;
  padding: 0 36px;
  margin: 0 auto;
}

.help-content {
  display: flex;
}

.header-login__link {
  text-decoration: none;
  color: $silver;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  max-width: 1169px;
}

.header-help__number {
  margin-right: 15px;
}

.menu-content {
  display: flex;
}

.header__logo {
  background-image: url(../images/Logo.svg);
  width: 74px;
  height: 25px;
}

.header-nav__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: $dark-gray;
  margin-right: 30px;
  -webkit-text-stroke: 1px $black;

  &:hover {
    font-weight: 800;
    -webkit-text-stroke: 1px $black;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    transition: font-weight 3.3s, text-shadow 3.3s;
  }
}

.header-panel {
  @include flex-around;
  width: 370px;
}

.header-search {
  @include flex-between;
  border-radius: 20px;
  background-color: $silver;
  padding: 10px;
  width: 282px;
}

.header-search__button {
  background-image: url(../images/search.svg);
  width: 21.5px;
  height: 21.5px;
  cursor: pointer;
}

.header-search__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto";
}

.header-favorite {
  background-image: url(../images/heart.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-cart {
  background-image: url(../images/bag.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
